body {
	background:#737373;
}
h1 {
	font-size: 22px;
	text-align:center;
	padding-top:10px;
	color:#aaa;
}
img {
	max-width: 100%;
	height:auto;
}
.step {
	padding:30px;
	border:4px solid #fff;
	text-align:center;
	color:#fff;
	margin:30px 0px;
	background:rgba(0,0,0,.3);
	font-size: 16px;
	min-height:178px;
}
.step a {
	color:#28a745;
	text-decoration: underline;
}
.step h3 {
	text-decoration: underline;
	font-size: 20px;
}
.step img {
	border:1px solid #000;
}
#instructions {
	max-width:1200px;
	margin:0px auto;
}
#play-button-row {
	text-align:center;
}
.cn-card-hover {
	position:absolute;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	right:-15px;
	top:-65px;
	background:rgba(0,0,0,.5);
	padding:10px;
	-ms-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	z-index: 10;
	width:calc(100% + 30px);
}
.cn-covered-card-text {
	background: #fff;
    position: absolute;
    bottom: -26px;
    right: 0px;
    padding: 1px 10px;
    -ms-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	z-index: 1;
	border-radius:6px 0px 0px 0px;
}
.covered .cn-covered-card-text {
	bottom:0px;
}
.cn-card:hover .cn-card-hover {
	top:-15px;
}
.cn-card-hover img {
	width:40px;
	margin:0px 2px;
	border:1px solid #fff;
	cursor:pointer;
}
.cn-card-holder {
	flex-basis:20%;
	-webkit-flex-basis:20%;	
	padding-top:15px;
	padding-bottom:15px;
}
.cn-card {
	padding:15px;
	background-image:url(images/card-bg.jpg);
	background-repeat:no-repeat;
	min-height:127px;
	position:relative;
	border-radius: 6px;
	overflow:hidden;
	border:1px solid;
}
.cn-card-inner {
	padding:8px;
	border-radius:6px;
	position:relative;
}
.cn-card-text {
	position:absolute;
	top: 63px;
    left: 15px;
    width: 140px;
    text-align: center;
    text-transform:uppercase;
    font-weight:bold;
    background:transparent;
    border:0px;
    z-index: 9;
}
.covered .cn-card-text {
	z-index: 0;
}
.cn-card-holder.covered .cn-card::after {
	opacity:1;
}
.cn-card-holder .cn-card::after {
	position: absolute;
	width:100%;
	height:100%;
	display: block;
	content:'';
	left:0;
	top:0;
	opacity:0;
	-ms-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.cn-card-holder.blue .cn-card::after {
	background:url(images/blue.jpg);
}
.cn-card-holder.red .cn-card::after {
	background:url(images/red.jpg);
}
.cn-card-holder.tan .cn-card::after {
	background:url(images/tan.jpg);
}
.cn-card-holder.black .cn-card::after {
	background:url(images/black.jpg);
}
#spymaster-link {
	text-align: center;
	color:#fff;
}
#spymaster-link a {
	color:#fff;
	text-decoration: underline;
}
#sidebar {
	padding-top:15px;
}
.checkbox {
	padding:0px 5px;
	min-width:15px;
	box-sizing:content-box;
	align-items:center;
	-webkit-align-items:center;
	display:flex;
}
.heading-checkbox {
	width:15px;
	height:15px;
}
.checkbox.blue {
	background:#2e488d;
}
.checkbox.red {
	background:#cc0000;
}
.checkbox.tan {
	background:#d5c8a6;
}
.checkbox.black {
	background:#000;
}
.card-control {
}
.card-holder {
	width:150px;
	padding-right:10px;
}
.card-holder input {
	width:100%;
	margin:1px 0px;
	text-transform:uppercase;
}
header{
	text-align:center;
}
#spymaster-card-choice-row {
	justify-content:center;
	-webkit-justify-content:center;
}
#spymaster-card-choice {
	width:50px;
	padding:5px 10px;
	border:0px;
	border-radius:4px 0px 0px 4px;
}
#go-button {
	border-radius:0px 4px 4px 0px;
}
#spy-cards {
	padding-top:50px;
}
.image-wrapper {
	text-align: center;
	border-radius:30px;
	overflow:hidden;
	width:500px;
	height:500px;
	margin:0px auto;
	background-position: center center;
	display: none;
}






